@use 'base';

.padsContainer {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;

  .pad {
    cursor: pointer;
    border: 1px black solid;
  }

  .playing {
    animation: changeColor 7s infinite;
  }

  .notPlaying {
    background-color: base.$primaryColor;
  }
}

@keyframes changeColor {
  0% {
    background-color: rgb(random(255), random(255), random(255));
  }
  25% {
    background-color: rgb(random(255), random(255), random(255));
  }
  50% {
    background-color: rgb(random(255), random(255), random(255));
  }
  100% {
    background-color: rgb(random(255), random(255), random(255));
  }
}

@media only screen and (max-width: base.$size) {
  .padsContainer {
    height: base.$smallSize;
    width: base.$smallSize;
  }
}
