@use 'base';

.padsContainer {
  height: 60vh;
  width: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;

  .pad {
    cursor: pointer;
    background-color: base.$primaryColor;
  }
}
